.image-container {
    gap: 1em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .header {
        display: flex;
        gap: .5em;
        text-transform: capitalize;

        .author {
            color: gray;
            align-self: end;
        }
    }

    .image {
        width: 800px;
    }

    .image-chat-container {
        display: flex;
        gap: 1em;
    }
}